@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

header, section {
  height: 100vh;
}

header {
  background: url('../img/seigaiha.png') repeat;
  display: flex;
  position: relative;
  z-index: 0;
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78,255,167,0.6);
    z-index: -1;
    content: "";
}

h1 {
  margin: 0 0 2rem 0;
  text-align: center;
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: -2px;
}

p {
  font-size: 1.2rem;
  margin: 1.2rem;
  color: #333;
}

.btn-start {
  background: #24744c;
  color: #fff;
  padding: 14px 52px;
  display: inline-block;
  text-decoration: none;
  margin: 20px 0;
  border-radius: 12px;
  font-size: 1.2rem;
  transition: all 0.2s linear;
}

.btn-start:hover {
  background: #1d5d3d;
}

.container {
  width: 90%;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.container>div {
  margin: auto;
}

.msg textarea {
  width: 100%!important;
  font-size: 1rem;
  min-height: 10vh;
  background: #fff;
  border: solid 2px #eee;
  resize: vertical;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0 0 0;
}

#scrollingChat {
  width: 100%;
  overflow-y: auto;
  max-height: 60vh;
}

.segments {
  background: #32a36b;
  padding: 4px 10px;
  margin: 18px 0;
  border-radius: 6px;
  color: #fff;
  text-align: right;
  position: relative;
}

.from-user::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 2px solid transparent;
  border-top: 9px solid #32a36b;
  position: absolute;
  bottom: -5px;
  right: 0;
}

.from-watson::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 16px solid transparent;
  border-top: 9px solid #32a36b;
  position: absolute;
  bottom: -5px;
  left: 0;
}
